{% load static %}
<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <table class="minhas-infos">
                    <tr>
                        <th style="color: black;">contatos</th>
                        <th style="color: black; border-left: 1px solid rgb(171, 171, 171);">portifólio</th>
                    </tr>
                    <tr>
                        <td class="td-link"><a href="https://github.com/marcelo-py" target="_blank" rel="external">Github</a></td>
                        <td class="td-link" style="border-left: 1px solid rgb(171, 171, 171);"><a href="https://mar-marcelo.herokuapp.com" target="_blank" rel="external">Site</a></td>
                    </tr>
                    <tr>
                        <td class="td-link" style="border-right: 1px solid rgb(171, 171, 171);"><a href="https://www.instagram.com/marcell0.o" target="_blank" rel="external">Instagram</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-right">Made By <img style="width: 50px; height: 50px;" src="{% static 'imagens/marselo.jpg' %}" alt="marselo imagem"></p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
