{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/theme_1564087106285.css' %}" rel="stylesheet">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<style>
    .bg-primary{
        background-color: rgb(30, 45, 210)!important;
    }
    .nav-link, .navbar-nav, .navbar-dark{
        color: rgb(255, 255, 255)!important;
    }
    .nav-link:hover{
        background-color: rgba(190, 225, 255, 0.326);
        border-radius: 5px;
    }
    .td-link{
        text-decoration: none;
        color: white;
    }
    .td-link:hover{
        background-color: rgba(190, 225, 255, 0.326);
        border-radius: 5px;
    }
    .td-link > a{
        color: rgb(255, 255, 255);
    }
    .minhas-infos{
        border-left: 1px solid rgb(171, 171, 171);
    }
</style>